.DS_Store
.svn
.settings
target/
target
*.iml
*.project
.idea
*target
*.settings
*.classpath
release.properties
.project
/.idea
/cms/cms-service/logs
colors.scheme.xml
databaseSettings.xml
debugger.xml
editor.xml
ide.general.xml
scala.xml
ui.lnf.xml
vcs.xml
vim_settings.xml
codestyles
codestyles/*
colors
_mac
/markdown.xml
/editor.codeinsight.xml
logs
bin
*.xml.releaseBackup
.factorypath
rebel*